html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.lottery {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}
.lottery__heading {
  
}
.lottery__counts {
  display: flex;
  margin: 50px 0;
  justify-content: space-around;
}
.count__item {
  /* border: 1px solid #4caf50; */
  background: #ffc107;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}